$black: #000000;
$white: #ffffff;

$color-gray: gray;
$color-gray-900: #1a1a1a;
$color-gray-800: #303030;
$color-gray-700: #4b4b4b;
$color-gray-600: #515050;
$color-gray-400: #aaaaaa;
$color-gray-300: #cccccc;
$color-gray-200: #e7e7e7;
$color-gray-100: #eeeeee;
$color-gray-50: #f7f7f7;

$color-primary: $black;
$color-secondary: $white;

$color-blue: #007bff;
$color-blue-dark: #0069d9;
$color-blue-light: #3395ff;
