@import '@/styles/variables';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: $color-primary;
  background-color: $color-secondary;

  &:hover {
    background-color: $color-gray-100;
  }
}

.pageActive {
  color: $color-secondary;
  background-color: $color-primary;
  border: none;

  &:hover {
    background-color: $color-gray-800;
  }
}

.arrowPage {
  &:hover:not(:disabled) {
    background-color: $color-gray-100;
  }
}
